<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Prediction</title>
</head>
<body class="flex justify-center align-center bg-slate-300">
    
    <div class="mt-6 flex-col justify-center align-center max-w-md max-h-md shadow-lg p-5 rounded-md">

        <h1 class="text-2xl text-sky-900"> Student engagement Prediction </h1>

        <p class="text-red-600">Fill out this form and then click on predict, the argorithm will predict if the student will be able to switch to the paid plan.</p>

        <div class="text-center">
            <form action="{{url_for('predict')}}", method="post">

                <div>
                    <select name="course_id" id="" class="w-full h-10 border-2 mt-4 focus:border-sky-700 focus:outline-none " required>
                        <option value="">--Select--</option>
                        {% for item in courses %}
                            <option value="{{item[0]}}" >{{ item[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div><input type="number" name="minutes_watched" min="1" max="300" placeholder="Minutes watched (ex : 3)" class="rounded-md border-2 mt-4 h-10 w-full focus:outline-none focus:border-sky-700 focus:ring-sky-700 inline-block placeholder:italic placeholder:text-slate-400 placeholder:pl-2 " required></div>

                <div><input type="date" name="date_watched" placeholder="Date watched" class="rounded-md border-2 mt-4 h-10 w-full focus:outline-none focus:border-sky-700 focus:ring-sky-700 inline-block placeholder:italic placeholder:text-slate-400 placeholder:pl-2 " required></div>

                <div>
                    <select name="country_id" id="" class="w-full h-10 border-2 mt-4 focus:border-sky-700 focus:outline-none " required>
                        <option value="">--Select--</option>
                        {% for i in countries %}
                            <option value="{{i[0]}}" >{{ i[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div><input type="date" name="date_registered" placeholder="Date Registered" class="rounded-md border-2 mt-4 h-10 w-full focus:outline-none focus:border-sky-700 focus:ring-sky-700 inline-block placeholder:italic placeholder:text-slate-400 placeholder:pl-2 " required></div>

                <div><input type="number" min="0" max="5" name="course_rating" placeholder="Course rating" class="rounded-md border-2 mt-4 h-10 w-full focus:outline-none focus:border-sky-700 focus:ring-sky-700 inline-block placeholder:italic placeholder:text-slate-400 placeholder:pl-2 " required></div>

                <div><input type="date" name="date_rated" placeholder="Date Rated" class="rounded-md border-2 mt-4 h-10 w-full focus:outline-none focus:border-sky-700 focus:ring-sky-700 inline-block placeholder:italic placeholder:text-slate-400 placeholder:pl-2 " required></div>

                <button type="submit" class="border-2 border-sky-500 text-2xl rounded-lg bg-sky-500 h-10 w-28 mt-5 text-white hover:bg-sky-600 focus:ring-2 ">Predict</button>
        </form>
        </div>
        </div>
</body>
</html>